name: TextFieldAlert

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build Package
      run: xcrun xcodebuild build -scheme 'TextFieldAlert' -destination 'generic/platform=ios'
    - name: Build Example
      run: xcrun xcodebuild build -project 'Example/TextFieldAlertExample.xcodeproj' -scheme 'TextFieldAlertExample' -destination 'platform=iOS Simulator,name=iPhone 8'
